# Default ignored files
/../../../../../../../:nacos-demo/.idea/shelf/
/../../../../../../../:nacos-demo/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:nacos-demo/.idea/dataSources/
/../../../../../../../:nacos-demo/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../../../../:nacos-demo/.idea/httpRequests/
